body {
  background-color: rgb(219, 219, 219);
  color: rgb(247, 135, 97);
  font: 900 12px Arial, Helvetica, sans-serif;

  line-height: 3em;
  margin: 0;
}
.box1 {
  background-color: rgb(133, 228, 223);
  color: rgb(53, 53, 53);
  border: 6px rgb(163, 218, 235) groove;
  border-bottom-width: 30px;
  padding: 11px;
  margin-top: 20px;
}
.container {
  width: 80%;
  margin: auto;
}
.box1 h1 {
  font: bold italic 60px Gadget;
  text-decoration: underline;
}
.categories {
  margin: 40px;
  background-color: aliceblue;
  border: 10px rosybrown solid;
}
.categories h2 {
  text-align: center;
  font: 40px Lucida;
  text-decoration: underline;
}
.categories ul {
  padding-left: 6em;
  list-style: circle;
}
.categories li {
  border-bottom: dotted 2px black;
  border-radius: 12px;
}
a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}
a:hover {
  color: crimson;
  text-decoration: underline;
}
a:active {
  color: green;
}
.myform {
  padding: 20px;
}
.formelement{
    padding-bottom: 10px
}
.myform label{
    display:block;
}
.myform input{
    width: 10%;
}
.myform input[type="email"]{
    width:100%;
}
.myform input[type="password"]{
    width:100%;
}
button{
    color: rgb(168, 206, 255);
    background-color: rgb(49, 48, 48);
    padding:10px;
}
button:hover{
    background-color: rgb(133, 133, 133);
    color:rgb(255, 165, 91)
}